<ion-header>
  <ion-toolbar>
    <ion-title class="ion-justify-content-center" color="Danger">All movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-card>
          <img src="assets/video_13878534.png" alt="Icon by berkahicon">
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user" name="user" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="ingresar()" color="danger">Login</ion-button>
    <ion-button expand="full" routerLink="/signup" color="danger">Sign Up</ion-button>
    <ion-item *ngIf="errorMessage">
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-item>
  </form>
</ion-content>
